body {
	margin: 0px;
	color: #808080;
	user-select: none;
	font-family: bariol, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
}

.container {
	margin: 0px auto;
	max-width: 90%;
}

.title {
	font-size: 3em;
	padding: 10px 0px;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 20px;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.input-element {
	outline: none;
	border: 2px solid #808080;
	border-radius: 8px;
	padding: 12px;
	width: 100%;
	box-sizing: border-box;
}

.input-element:focus {
	border: 2px solid #5ca5cc;
}

.button-submit {
	margin: 14px 0px;
	padding: 10px 16px;
	font-size: 1.2em;
	background-color: #ff7043;
	color: #fff;
	border-radius: 8px;
	cursor: pointer;
	border: none;
	outline: none;
}

.button-submit:active {
	background-color: #ff5722;
}

/* Grid frame */
.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-right: -6px;
	margin-left: -6px;
}

.col-3 {
	flex-basis: calc(3/12 * 100%);
	padding-right: 6px;
	padding-left: 6px;
	box-sizing: border-box;
}

.col-9 {
	flex-basis: calc(9/12 * 100%);
	padding-right: 6px;
	padding-left: 6px;
	box-sizing: border-box;
}

/* UI elements */
.data-title {
	font-size: 2em;
	border-bottom: 1px solid #dbdbdb;
}